table{
  border-collapse:collapse;
  border: 1px solid black;
  width: 100%;
}

th{
  border: 1px solid black;
  height: 50px;
}

td{
  border: 1px solid black;
  height: 50px;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  font-family: arial;
}

.notmonthnow{
  color : #888888;
}

.today{
  color : #FF0000;
}

.weekend{
  color : #0000FF;
}

